<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../assets/images/Logo.png"/></a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i className="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse " id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item mx-0 mx-lg-1"><a routerLink="/" class="nav-link py-3 px-0 px-lg-3 rounded" >Accueil</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a routerLink="/listeArtisan" class="nav-link py-3 px-0 px-lg-3 rounded" >service</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a routerLink="/ficheArtisan" class="nav-link py-3 px-0 px-lg-3 rounded" >batiment</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a routerLink="/ficheArtisan" class="nav-link py-3 px-0 px-lg-3 rounded" >alimentation</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a routerLink="/ficheArtisan" class="nav-link py-3 px-0 px-lg-3 rounded" >fabrication</a></li>
        </ul>
    </div>
    </div>
  </nav>
