$btncolor: #0074C7;
@media (max-width: 425px) {
    
    button {
        display: flex;
    }
    img {
        width: 150px;
    }
    form {
        width: 300px;
    }
    select {
        width: 100px;
    }
}
@media (min-width: 426px) {
    
    img {
        width: 250px;
        
    }
    form {
        width: 350px;
    }
    select {
        width: 150px;
    }
}
@media (min-width: 1024px) {
    img {
        width: 250px;
    }
    form {
        width: 400px;
    }
    select {
        width: 200px;
    }
}

nav {
    background-color: #f1f8fc;
    box-shadow: 0px 4px 4px rgba(0,0,0, 0.1);
    color: #384050;
    font-size: 1.2em;
    #space {
        width: 150px;
    }
    
    .nav-link:hover {
        background-color: $btncolor;
        color: #f1f8fc;   
    }
    form {
        margin-left: 50px;
        
        button {
            color: $btncolor;
            border-radius: 50%;
        }
        .btn:hover {
            background-color: $btncolor;
            color: #f1f8fc;
        } 
        
    }
    #navbarResponsive {
        margin-right: 50px;
        .dropdown {
            margin-left: 40px;
        }
        .btn{
            background-color: $btncolor;
            color: #f1f8fc;
        }
        
    }
    
}