nav {
    background-color: #0074C7;
    color: #384050;
    font-size: 1.2em;
    img {
        width: 250px;
    }
    form {
        width: 400px;
        button {
            color: #0074C7;
            background-color: #384050;
            border-color: #384050;
        }
    }
    
}