<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Pages légales
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="mentionslegales">mentions légales</a></li>
      <li><a class="dropdown-item" routerLink="donneespersonnelles">données personnelles</a></li>
      <li><a class="dropdown-item" routerLink="accessibilite">accessibilité</a></li>
      <li><a class="dropdown-item" routerLink="cookies">cookies</a></li>
    </ul>
  </div>
