@media (max-width: 425px) {
    address {
        font-size: 0.7em;
    }
    .btn {
        width: 120px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
@media (min-width:1024px) {
    address {
        padding-right: 200px;
    }
}


.footer {
    background-color: #0074C7;
    color: #f1f8fc;
    display: flex;
    padding-top: 10px;
    address {
        
        
        .imgfooter {
            width: 30px;
        }
    }
    .btn {
        color: #0074C7;
        background-color: #f1f8fc;
        border-color: #f1f8fc;
    }
    .dropdown-item:hover {
        background-color: #0074C7;
        color: #f1f8fc;
    }
    
}