<div class="footer d-flex  justify-content-evenly">
  <address>
    <img class="imgfooter" src="../../assets/images/maps.png" alt="Image logo maps"/>
    <p>101 cours Charlemagne </p>
    <p>CS 20033</p>
    <p>69269 LYON CEDEX 02 </p>
    <p>France </p>
    <img class="imgfooter" src="../../assets/images/phone.png" alt="Image d'un téléphone"/>
    <p>+33 (0)4 26 73 40 00</p>
  </address>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle m-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Pages légales
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/mentionslegales">mentions légales</a></li>
      <li><a class="dropdown-item" routerLink="/donneespersonnelles">données personnelles</a></li>
      <li><a class="dropdown-item" routerLink="/accessibilite">accessibilité</a></li>
      <li><a class="dropdown-item" routerLink="/cookies">cookies</a></li>
    </ul>
  </div>
</div>

