<header>
  <app-header></app-header>
</header>
  
<main class="main">
  <div class="row col-lg-12 d-flex justify-content-evenly">
    <div class="card col-md-6 p-4 mt-5" *ngIf="artisan">
      <div class="card-body">
        <h1>{{ artisan.name }}</h1>
        <p>Note: {{ artisan.note | note }}</p>
        <p>Spécialité: {{ artisan.specialty }}</p>
        <p>emplacement: {{ artisan.location }}</p>
        <p>A propos: {{ artisan.about }}</p>
        
      </div>           
    </div>
    <div class="card col-md-6 p-4 mt-5" *ngIf="artisan">
      <div class="card-body">
        <form class="pb-4">
          <div class="mb-3">
            <label for="name" class="form-label">Nom</label>
            <input type="text" id="name" class="form-control"  name="name" required>
          </div>
          <div class="mb-3">
            <label for="subject" class="form-label">Objet</label>
            <input type="text" id="subject" class="form-control"  name="subject" required>
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea id="message" class="form-control"  name="message" rows="3" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>

        <a *ngIf="artisan.website" [href]="artisan.website" target="_blank" >site internet de l'artisan</a>
      </div>
    </div>

  </div>
</main>
  
<footer>
  <app-footer></app-footer>
</footer>